
/* Header */
.header{
  padding: 30px;
  text-align: center;
  background: orange;
  }
  .header_font{
    font-size: large;
    color: blue;
  }

/* Navigation menu/navigation bar */
.nav {
  background-color: olivedrab;
  overflow: hidden; /* milleks seda vaja oli? */
}

/* linkide stiil nav baris */
.nav a{
  float: left;
  color: aqua;
  display: block; /* ma ei ole leidnud probleeme, mis tuleneksid selle käsu eemaldamisest, ja text-align eemaldamisel, aga ma ei julge teda otseselt eemaldada ka. Olen suht kindel, et se muutub oluliseks ainult siis, kui tahame nav bari muud teksti lisada, mis ei ole lingid */
  text-align: center;
  padding: 14px	16px;
  text-decoration: none;
}
/* Mis värvi on link ja background kui hiirega peal hoverida */
.nav a:hover{
  background-color: #ddd;
  color:  black;
}

.footer {
  background-color: lightblue;
  padding: 10px;
  text-align: left;
  ;
  
}

.footer div {
  display: inline-block;
  padding: 20px;
}



.container {  display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "sauce1 sauce2 sauce3"
      "sauce4 sauce5 sauce6"
      "sauce7 sauce8 sauce9"
      ;
  }
  
  
  .sauce1 {  display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.3fr 0.5fr 2.2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "picture Name Name"
      "picture stars stars"
      "picture text text";
    grid-area: sauce1;
   /*  border: 15px solid black; */
  }
  
  .picture { grid-area: picture; }
  
  .Name { grid-area: Name; }
  
  .stars { grid-area: stars; }
  
  .text { grid-area: text; }
  
  .sauce2 {  display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.3fr 0.5fr 2.2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "picture name name"
      "picture stars stars"
      "picture text text";
    grid-area: sauce2;
  }
  

  
  .sauce3 {  display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.3fr 0.5fr 2.2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "picture name name"
      "picture stars stars"
      "picture text text";
    grid-area: sauce3;
  }
  

  
  .sauce4 {  display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.3fr 0.5fr 2.2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "picture name name"
      "picture stars stars"
      "picture text text";
    grid-area: sauce4;
  }
  

  
  .sauce5 {  display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.3fr 0.5fr 2.2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "picture name name"
      "picture stars stars"
      "picture text text";
    grid-area: sauce5;
  }
  
 
  
  .sauce6 {  display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.3fr 0.5fr 2.2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "picture name name"
      "picture stars stars"
      "picture text text";
    grid-area: sauce6;
  }
  
  
  .sauce7 {  display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.3fr 0.5fr 2.2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "picture name name"
      "picture stars stars"
      "picture text text";
    grid-area: sauce7;
  }
  

  
  .sauce8 {  display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.3fr 0.5fr 2.2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "picture name name"
      "picture stars stars"
      "picture text text";
    grid-area: sauce8;
  }
  
  
  
  .sauce9 {  display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.3fr 0.5fr 2.2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "picture name name"
      "picture stars stars"
      "picture text text";
    grid-area: sauce9;
  }

  